<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Pokédex</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><img src="/img/pokebola.png" alt="Pokébola" /></li>
        <li>
          <a href="/"><h1>Pokédex</h1></a>
        </li>
      </ul>
    </nav>

    <header>
      <img src="/img/bunner.webp" alt="Bunner" />
    </header>

    <main>
      <section id="cards">
        <h2>Lista de Pokémons</h2>

        <% pokedex.forEach((pokemon) => { %>
        <div class="card">
          <a href="/detalhes/<%= pokemon.id %>">
            <p>ID: <%= pokemon.id%></p>
            <span>
            <h3><%= pokemon.name%></h3>
            <p>Nº<%= pokemon.num%></p>
            </span>
            <img src="<%= pokemon.img %>" alt="" />
            <p id="tipo">Tipo: <%= pokemon.type %></p>
            </a>
        </div>
        <% }) %>
      </section>
    </main>
    <!-- <footer>
      <p>Todos os direitos reservados para gumartins77 &copy;</p>
    </footer> -->
  </body>
</html>
