<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Pokédex</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><img src="/img/pokebola.png" alt="Pokébola" /></li>
        <li>
          <a href="/"><h1>Pokédex</h1></a>
        </li>
        <li><a href="#cadastro">Cadastro</a></li>
        <li><a href="#cards">Pokémons</a></li>
      </ul>
    </nav>

    <header>
      <img src="/img/bunner4.jpg" alt="Bunner" />
    </header>

    <main>
      <section id="cards">
      <div class="card">
            <h3><%= pokemon.nome%></h3>
            <p>Nº<%= pokemon.numero%></p>
            <img src="<%= pokemon.imagem %>" alt="" />
            <p class="descricao"><%= pokemon.descricao %></p>
            <p>Altura: <%= pokemon.altura %> m</p>
            <p>Peso: <%= pokemon.peso %> kg</p>
            <p>Categoria: <%= pokemon.categoria %></p>
            <p>Habilidade: <%= pokemon.habilidade %></p>
            <p>Tipo: <%= pokemon.tipo %></p>
            <a id="editar" href="/detalhes/<%= pokemon.id %>">Editar</a>
            <a id="apagar" href="/delete/<%= pokemon.id %>">Apagar</a>
            </div>
          </section>
        </main>
    <footer>
      <p>Todos os direitos reservados para gumartins77 &copy;</p>
      <p>
        Dados retirados de
        <a target="_blank" href="https://www.pokemon.com/br/pokedex/"
          >Pokédex</a
        >
      </p>
    </footer>
  </body>
</html>
